*.csv
.ipynb_checkpoints/
DAY6_transfer-learning/flower_photos/
data/
DAY6_transfer-learning_part1/flower_photos/
DAY8_pytorch_part_1/runs/MNIST
DAY9_pytorch_part2/runs
.idea
__pycache__
runs
*.tar
state_dict
repo
datasets
repo
ImageNetV2-matched-frequency*
*.txt
*.pt
