<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CLIP Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- JQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"><!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="row mx-md-n5" id="main_container" style="margin=300px;">
      <div class="col px-md-5">
        <div class="p-3 border bg-light">
          <div class="row mx-md-n5">
            <div class="dropdown p-3 border bg-light">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="datasetDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Dataset
              </button>
              <ul class="dropdown-menu" id="datasetdropdownMenu">
                <li><a class="dropdown-item" value= "imagenetv2" href="#">imagenetv2</a></li>
                <li><a class="dropdown-item" value= "cifar100" href="#">cifar100</a></li>
                <li><a class="dropdown-item" value= "custom" href="#">custom</a></li>
              </ul>
            </div>
            <div class="dropdown p-3 border bg-light">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="modeldropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select Model
              </button>
              <ul class="dropdown-menu" id="modelMenu">
                <li><a class="dropdown-item" value= "ViT-B/16" href="#">ViT-B/16</a></li>
                <li><a class="dropdown-item" value= "ViT-B/32" href="#">ViT-B/32</a></li>
                <li><a class="dropdown-item" value= "RN50" href="#">RN50</a></li>
                <li><a class="dropdown-item" value= "RN101" href="#">RN101</a></li>
                <li><a class="dropdown-item" value= "RN50x16" href="#">RN50x16</a></li>
              </ul>
            </div>
          </div>
          <div class="p-3 border bg-light">
            <input type="text" name="query" value="" id="query">
            <input type="submit" name="" value="SUBMIT" onclick="submit()">
          </div>
          <div class="p-3 border bg-light">
            <br>
            <input type="file" name="" value="UPLOAD" onchange="upload_image(this)" id="uploadfile">
          </div>
        </div>
      </div>
      <div class="col px-md-5">
          <div class="p-3 border bg-light">
            <div class="spinner-border text-primary mx-auto" role="status" id="spinner" style="display:none;">
                <span class="sr-only"></span>
              </div>
            <img id="CLIPOutput_Image" src="">
          </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
        $(document).ready(function () {
        $('#datasetdropdownMenu a').on('click', function () {
          var txt= ($(this).text());
          $('#datasetDropDown').text($(this).text());
        });
      });
      $(document).ready(function () {
      $('#modelMenu a').on('click', function () {
        var txt= ($(this).text());
        $('#modeldropdownButton').text($(this).text());
      });
    });
      function submit(){
        let query = document.querySelector('#query');

        $.ajax({
            type: "POST",
            url: '{{ url_for('get_image_results') }}',
            contentType: "application/json",
            data: JSON.stringify({"query": query.value}),
            beforeSend: function(){
              $('#spinner').show();
              document.getElementById("CLIPOutput_Image").src = '';
            },
            success:function(data){
              document.getElementById("CLIPOutput_Image").src = "/static/" + data.file_name;
              $('#spinner').hide();
            }
          });
      };
      function upload_image(input) {
            if (input.files && input.files[0]) {
              console.log("File is uploaded");
              console.log(input.files[0]);
              var form_data = new FormData();
              form_data.append('file', $('#uploadfile').prop('files')[0]);
              var file_name = $('#uploadfile').prop('files')[0].name
              form_data.set('filename', $('#uploadfile').prop('files')[0].lastModified + file_name);
              $.ajax({
                  type: "POST",
                  url: '{{ url_for('get_text_results') }}',
                  contentType: "application/upload",
                  data: form_data,
                  contentType: false,
                  cache: false,
                  processData: false,
                  beforeSend: function(){
                    $('#spinner').show();
                    document.getElementById("CLIPOutput_Image").src = '';
                  },
                  success:function(data){
                    document.getElementById("CLIPOutput_Image").src = "/static/" + data.file_to_be_displayed;
                    $('#spinner').hide();
                  }
                });
            }
            }
      </script>
</html>
